</div>
 <div class="col-12 col-lg-3 h-100">
      <div class="card bg-dark text-white border-light d-none d-lg-flex rounded-lg">
        <div class="card-body">
          <h3 class="card-title">RULES</h3>
          <p class="card-text">Rules for posting
            <ul>
                <li>No Toxic</li>
                <li>No NSFW (Not Safe For Work)</li>
                <li>No Cyberbulying</li>
                <li>No Spam</li>
                <li>5 posts at 5 minutes</li>
                <li>Just Have Fun :D</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card bg-dark text-white d-none d-lg-flex border-light p-3 rounded-lg mt-3">
        <h5>Made By Fathin</h5>
        <p class="mb-0">made by <a href="https://www.fathin.my.id" class="text-info">M.Fathin Halim</a></p>
        <hr
            style="
              opacity: 100%;
              border-top: 1px solid var(--success) !important;
            "
        />
        <a class="text-warning" href="https://saweria.co/mfathinhalim">Support This Web In Saweria^^</a>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark-glass navbar-expand d-lg-none d-xl-none fixed-bottom">
    <ul class="navbar-nav nav-justified w-100">
      <li class="nav-item">
        <a href="/" class="nav-link" style="font-size: x-large;"><i class="fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item">
        <a href="/" class="nav-link" style="font-size: x-large;"><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
      <li class="nav-item">
        <a href="/" class="nav-link" style="font-size: x-large;"><i class="fa-solid fa-pen-to-square"></i></a>
      </li>
      <li class="nav-item">
        <a href="#" id="myDetails" class="nav-link" style="font-size: x-large;"><i class="fa-solid fa-user"></i></a>
      </li>
    </ul>
  </nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<script>
    localStorage.removeItem("name");
    localStorage.removeItem("username");
    localStorage.removeItem("id");
    const token = sessionStorage.getItem("myToken");
    function logout() {
        sessionStorage.removeItem('myToken')
        return window.location.href = "/login"
    }

    let username;
    let name;
    let id;
      
    if (!window.location.href.toString().includes("/login") && !window.location.href.toString().includes("/signup") ){
        if(!token) {
            window.location.href = "/login"
        }
        fetch(`/user/check?id=${token}`).then(res => res.json()).then(check => {
            if(check.check === true) {
                logout()
            } 
            document.querySelectorAll("#myDetails").forEach((link) => {
                link.href = `/user/details/${check.user.username}`
            })
            document.getElementById("mypfp").src = check.user.pp;
            document.getElementById("myname").innerText = check.user.name;
            document.getElementById("myusername").innerText = `@${check.user.username}`;
            document.getElementById("mydesc").innerText = check.user.desc != undefined ? check.user.desc : "";
            document.getElementById("myfollowing").innerHTML = `<i class="fa-solid fa-user-group"></i> ${check.user.following.length} following`;
            document.getElementById("myfollowers").innerHTML = `<i class="fa-solid fa-user-group"></i> ${check.user.followers.length} followers`;
        });
        
    // Send a fetch request to the server for posting
    function sendPostRequest(form, replyTo, reQuote, ogId, repost) {
        event.preventDefault(); // Prevent default form submission
        const title = repostPost ? repostPost.title : form.querySelector("#title").value;
        if(title === "" || title === undefined || title === null) {
            return window.location.href="/"
        }
        document.getElementById("loading-screen").classList.remove("d-none");
        const formData = new FormData(); 
        if(!repostPost) {
            form.querySelector("button").remove()
            if (form.querySelector("#img").files[0]) {
                formData.append('image', form.querySelector("#img").files[0]); 
            } else {
                formData.append('image', ''); // Empty string if no image selected
            }
        }

        // Append data to FormData
        let data = {
            title: title,
            like: { total: 0, users: [] },
            replyTo: replyTo ? replyTo : "",
            ogId: ogId,
            repost: repost,
            reQuote: reQuote ? reQuote : undefined
        };

        formData.append('data', JSON.stringify(data));
        formData.append('token', token); // Assuming you have 'token' available
        // Handle image upload

        // Send POST request using fetch
        fetch('/post', {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                // Periksa apakah responsnya sukses
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                // Mengurai data JSON dari respons
                return response.json();
            })
            .then(post => {
                console.log(post); // Menampilkan data JSON dari respons
                
                // Redirect setelah POST request berhasil
                const redirectId = repostPost === undefined ? post.id : post.ogId;
                window.location.href = `/?id=${redirectId}`;
            })
            .catch(error => {
                console.error('Error sending POST request:', error);
            });

    }
      function previewImage(event) {
        var input = event.target;

        // Ensure that file is selected
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            var preview = document.getElementById("preview");
            preview.src = e.target.result;
        };

        reader.readAsDataURL(input.files[0]); // Read the uploaded file as a URL
        }
    }  
    var inputFile = document.getElementById("img");
    inputFile.addEventListener("change", previewImage);


    function sendEditProfile(myForm, id) {
        event.preventDefault(); // Prevent default form submission
        const formData = new FormData(); 
        const name = document.getElementById("displayName").value;
        const username = document.getElementById("username").innerText;
        const desc = document.getElementById("desc").value;
        // Append data to FormData
        const data = {
            id: id,
            username: username,
            name: name,
            pp: "",
            desc: desc
        };

        formData.append('data', JSON.stringify(data));
        formData.append('token', token); // Assuming you have 'token' available
        // Handle image upload
        if (myForm.querySelector("#img").files[0]) {
            formData.append('image', myForm.querySelector("#img").files[0]); 
        } else {
            formData.append('image', ''); // Empty string if no image selected
        }

        // Send POST request using fetch
        fetch(`/profile/${username}`, {
            method: 'POST',
            body: formData,
        }).then(() => {
            window.location.href = "/user/details/" + username
        })
    }

    function sendLikeRequest(id, button) {
        fetch(`/like/`, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({
            id: id,
            token: token
            }),
        })
        .then(res => res.json()) // Parse the JSON response
        .then(data => { 
            button.innerHTML = '<i class="fa-solid fa-heart"></i> ' + data.likes; // Update the button text with the new like count
        })
        .catch(error => {
            console.error("Error sending like request:", error); 
            // Handle errors, e.g., display an error message to the user
        });
    }

    function followPost(target) {
        fetch(`/user/follow/${target}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                token: token,
                myname: username
            }),
        })
        .then(() => {
            window.location.reload()
        })
        }
    }

</script>
</html>