<div id="loading-screen-bottom" class="card border-light rounded-0 bg-dark post d-flex align-items-center justify-content-center text-center mt-0 pt-3 pb-3">
  <div id="spinner-d" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
</div>
<div class="col-12 col-lg-3 h-100 sticky-element">
  <div class="card bg-dark text-white border-light d-none d-lg-flex rounded-lg">
    <div class="card-body">
      <h5 class="h5 card-title mb-3" style="font-weight: 900;">Hashtag for you</h5>
      <div id="trendingPostsList"></div>
    </div>
  </div>
  <div
    class="card bg-dark text-white border-light d-none d-lg-flex rounded-lg mt-2 mb-2"
  >
    <div class="card-body">
      <h5 class="h5 card-title mb-3" style="font-weight: 900;">Who to follow</h5>
      <div id="topList"></div>
    </div>
  </div>
  <div class="px-2">
    <a href="/privacy" class="text-secondary " style="font-size:small;" >Privacy and Police · </a>
    <a class="text-secondary" style="font-size:small;" href="https://saweria.co/mfathinhalim">Support This Web In Saweria · </a>
    <br class="m-0"/>
    <a class="text-secondary" style="font-size:small;" href="https://www.fathin.my.id">© 2024 Texter by Fathin</a>
  </div>
</div>
<div
  class="navbar navbar-dark bg-dark-glass navbar-expand d-lg-none d-xl-none"
  style="opacity: 0; width: 1px"
>
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item">
      <a href="/" class="nav-link" style="font-size: x-large"
        ><i class="fa-solid fa-house"></i
      ></a>
    </li>
  </ul>
</div>
<nav class="navbar navbar-dark bg-dark-glass navbar-expand d-lg-none d-xl-none fixed-bottom">
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item">
      <a href="/" class="nav-link home-link" style="font-size: x-large">
        <i id="home-icon" class="fa-solid fa-home"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="/search" class="nav-link search-link" style="font-size: x-large">
        <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
      </a>
    </li>
    <li class="nav-item">
      <button onclick="togglePopup()" class="nav-link text-white" style="font-size: x-large">
        <i id="plus-icon" class="fa-solid fa-plus"></i>
      </button>
    </li>
    <li class="nav-item">
      <a id="notifbtn" href="/notification" class="nav-link notification-link text-white position-relative" style="font-size: x-large">
        <span id="notif-dot" class="notif-dot position-absolute top-0 start-0"></span>
        <i id="bell-icon" class="fa-solid fa-bell bell-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" id="myDetails" class="nav-link profile-link" style="font-size: x-large">
        <i id="user-icon" class="fa-solid fa-user"></i>
      </a>
    </li>
  </ul>
</nav>
<script language="javascript" src="/js/bootstrap.min.js"></script>
</body>
<script src="/footer.js">
</script>
</html>