<%- include("partials/header.ejs") %>
<div id="loading-screen" class="d-none">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading...</p>
</div>
<div class="p-3 border-light rounded-0">
  <h3><i class="fa-solid fa-bookmark"></i> Bookmarks</h3>
</div>

<div id="bookmarkContainer"></div>
<%- include("partials/footer.ejs") %>

<script>
  function createBookmark(id) {
    fetch(`/bookmark/`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${token}`,
      },
      body: JSON.stringify({
        id: id,
      }),
    }).then(() => {
      window.location.reload();
    });
  }
  fetch(`/user/check`, {
    headers: { Authorization: `Bearer ${token}` },
  })
    .then((res) => res.json())
    .then((check) => {
      if (check.check === true) {
        logout();
      }
      name = check.user.name;
      username = check.user.username;
      if (username !== "<%= user.user.username %>") {
        window.location.href = "/";
      }
    });
  let currentPage = 1;
  const postsPerPage = 10; // Adjust as needed
  async function fetchPosts(page) {
    try {
      const url = new URL(window.location.href);

      // Ambil parameter pencarian dari query string
      const search = url.searchParams.get("search")?.replace("#", "") || "";
      const response = await fetch(`/get/bookmark/<%= user.user._id %>?page=${page}${search !== null ? `&search=${search}` : ""}`);
      const data = await response.json();
      if (data.posts) {
        console.log("Bookmark Data:", data.posts); // Debug data replies
        return data.posts;
      }
    } catch (error) {
      console.error("Error fetching posts:", error);
      return [];
    }
  }
</script>
<script src="/homepage.js"></script>
