<%- include("partials/header.ejs") %>
<div class="container border-light rounded-lg p-3 text-center">
  <h2>404</h2>
  <p>404: the page your looking for is not found!! </p>
  <img src="https://i.redd.it/dtljzwihuh861.jpg" class="mb-3 rounded"/>
  <a class="text-info h3" href="/">Back</a>
</div>
<%- include("partials/footer.ejs") %>
