<!-- Header -->
<%- include('partials/header.ejs') %>

<!-- Main Content -->
<div class="card bg-dark text-white p-4 border-light rounded-0">
  <h4>Privacy Policy</h4>
  <p>
    Welcome to our Privacy Policy page. Here we explain how we collect, use, and
    protect your personal data.
  </p>
  <h5>1. Information We Collect</h5>
  <p>
    We collect information that you provide to us directly, such as when you
    create an account or make a purchase.
  </p>

  <h5>2. How We Use Your Information</h5>
  <p>
    We use your information to provide and improve our services, process
    transactions, and communicate with you.
  </p>

  <h5>3. Data Protection</h5>
  <p>
    We take reasonable measures to protect your personal data from unauthorized
    access or disclosure.
  </p>

  <h5>4. Your Rights</h5>
  <p>
    You have the right to access, correct, or delete your personal data. Contact
    us to exercise these rights.
  </p>

  <h5>5. Changes to This Policy</h5>
  <p>
    We may update this policy from time to time. We encourage you to review this
    page periodically.
  </p>

  <h5>6. Contact Us</h5>
  <p>
    If you have any questions about this Privacy Policy, please contact us at
    halimfathin7@gmail.com.
  </p>
</div>

<!-- Footer -->
<%- include('partials/footer.ejs') %>
