<%- include("partials/header.ejs") %>
<h3 class="border-light p-3">
  Welcome, <%= name %>! You will be redirected to the main page shortly...
</h3>
<script>
  sessionStorage.setItem("myToken", "<%= token %>");
  window.location.href = "/";
</script>
<%- include("partials/footer.ejs") %>
