<%- include("partials/header.ejs") %>

<div class="container-fluid p-3">
  <div class="row">
    <!-- Search Bar -->
    <div class="card bg-dark text-white border-light rounded-lg">
      <div class="card-body">
        <input
          type="text"
          autocomplete="off"
          value="<%= searchTerm %>"
          id="searchInput"
          class="form-control"
          placeholder="Search..."
        />
      </div>
    </div>

    <!-- Trends Section -->
    <div class="card bg-dark text-white border-light rounded-lg h-100 mt-2">
      <div class="card-body">
        <h5 class="h3 card-title">TRENDS</h5>
        <div id="trendingPostsList"></div>
      </div>
    </div>

    <!-- Top Users Section -->
    <div
      class="card bg-dark text-white border-light rounded-lg h-100 mt-2 mb-2"
    >
      <div class="card-body">
        <h5 class="h3 card-title">TOP USERS</h5>
        <div id="topList"></div>
      </div>
    </div>
    <div class="card bg-dark text-white border-light d-lg-flex rounded-lg">
      <div class="card-body">
        <h5 class="h5 card-title mb-3" style="font-weight: 900">Mutuals</h5>

        <div id="follower"></div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
